{% extends 'base.html' %}

{% block title %}Resources - AgriVantage{% endblock %}

{% block content %}
    <h2 class="resources-content">Educational Resources</h2>
    <p class="resources-content">Explore the following resources to enhance your understanding of Earth observation data and its applications in agriculture:</p>
    <ul class="resources-content">
        <li><a href="https://www.earthdata.nasa.gov/learn/pathfinders/agricultural-and-water-resources-data-pathfinder" target="_blank">Agriculture and Water Management Pathfinder</a>: Drought, vegetation health, and soil moisture can be tracked remotely.</li>
        <li><a href="https://www.earthdata.nasa.gov/learn/pathfinders/disasters/floods-data-pathfinder" target="_blank">Floods Data Pathfinder</a>: NASA provides datasets and tools for flood response and mitigation.</li>
        <li><a href="https://www.earthdata.nasa.gov/learn/pathfinders/disasters/extreme-heat-data-pathfinder/find-data#temperature" target="_blank">Extreme Heat Data Pathfinder</a>: NASA data aids in forecasting and monitoring extreme heat events.</li>
        <li><a href="https://www.nasaacres.org/" target="_blank">NASA Acres</a>: Focuses on applying satellite EO information to agricultural and food security challenges.</li>
        <li><a href="https://nasaharvest.org/" target="_blank">NASA Harvest</a>: A consortium working on environmental, economic, and social aspects of agriculture.</li>
        <li><a href="https://appeears.earthdatacloud.nasa.gov" target="_blank">AppEEARS</a>: The Application for Extracting and Exploring Analysis Ready Samples </li> <!-- Link to AppEEARS -->
        <!-- Add more relevant links -->
    </ul>
{% endblock %}
